*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
} 

html{
    scroll-behavior: smooth;
}

.main-container{
    height: auto !important;
    width: 100%;
    background: linear-gradient(27deg, rgba(0,36,13,1) 0%, rgba(9,121,97,1) 35%, rgba(48, 241, 222, 0.897) 100%);
}


/* navbar  */
.navbar{
    height: 90px;
    width: 100%;
    font-family: Inter;
    padding-top: 35px;
    font-size: 15px;
    font-weight: 100;
    
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 700px;
    gap: 70px;
}


.navbar ul li a{
    color: lightslategray;
    text-decoration: none;
}

.navbar ul li a:hover {
    font-size: 18px;
    transition: all 0.1s ease;
    color: rgba(0,36,13,1); 
    border-bottom: 1.5px solid rgba(9,121,97,1);
    border-radius: 15%;
    border-right: 1.5px solid rgba(9,121,97,1); 
}

/* Mylogo  */
.logo img{
    height: 60px;
    width: auto;
    position: absolute;
    left: 50px;
    top: 20px;
    display: block;
}

.logo img:hover{
    transform: scale(1.1);
    transition: all 0.1s ease;
    border-bottom: 1px solid #00FFE7 ;
    border-top: 0.5px solid #00FFE7;
    border-radius: 10%;
}

/* about section  */

.about-section{
    width: 1024px;
    height: 430px;
    margin-top: 80px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.info-1{
    font-size: 1rem;
    font-family: Roboto Mono, monospace;
    opacity: 1;
    color: #00FFE7;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.about-section-info h1{
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    font-family: Inter, sans-serif;
    color: white ;
    letter-spacing: -.05em;
    margin-bottom: 24px;
}

.about-section-info h2{
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    font-family: Inter, sans-serif;
    color: rgb(178, 248, 233);
    letter-spacing: -.05em;
    margin-bottom: 15px;
}

.about-info{
    font-size: 1.2rem;
    font-family: sans-serif;
    opacity: 0.8;
}

.about-info2 p{
    display: inline-block;
    margin-top: 30px;
    font-size: 1rem;
    font-family: Roboto Mono, monospace;
    color: #00FFE7;
    opacity: 1;
}

.about-info2 p:hover{
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 2px solid rgba(9,121,97,1);
    border-radius: 10%;
}

/* side account pannel  */


.side-social-accounts{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   width: 44px;
   height: 336px;
   opacity: 0.8;
   position: fixed;
   left: 18px;
   bottom: -100px;
   right: 1171px;
}

.fa-instagram:hover{
    transition: all 0.1s ease;
    transform: scale(2.2);
    color: #11635a;
}

.fa-linkedin-in:hover{
    transition: all 0.1s ease;
    transform: scale(2.2);
    color: #11635a;
}

.fa-facebook-f:hover{
    transition: all 0.1s ease;
    transform: scale(2.2);
    color: #11635a;
}

.fa-github:hover{
    transition: all 0.1s ease;
    transform: scale(2.2);
    color: #11635a;
}

.hr-line hr{
    width: 2px;
    height: 96px;
    color: white;
}

/* main about secction  */

.about-info-section{
    width: 1024px;
    height: 500px;
    margin-top: 120px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}


.about-info-title{
    font-size: 2rem;
    font-family: Inter, sans-serif;
    color: white;
    margin-bottom: 30px;
}

.hello{
    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    color: #00FFE7;
    margin-bottom: 10px;
}

.shake-hand{
    display: inline-block;
    animation: shake .5s ease-in-out infinite;
    font-size: 21px;
}

@keyframes shake {
    0% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}


.about-info-content{
    font-size: 16px;
    font-family: Inter,sans-serif;
    color: #6edbd0;
    margin-bottom: 30px;
}

.bold-name{
    color: #00FFE7;
    text-decoration: none;
}

.bold-name:hover{
    text-decoration: underline;
    transition: all 0.5s ease-in;
}

.about-tech{
    font-size: 1.3rem;
    font-family: Inter, sans-serif;
    color: white;
    margin-top: 50px;
}

.about-info-skills ul{
    display: inline-block;
    width: 120px;
}


.about-info-skills ul li{
    display: flex;
    margin-bottom: 12px;
    list-style: none;
}

.about-info-skills ul li:hover{
    transition: all 0.3s ease;
    color: #00FFE7;
    transform: scale(1.1);
}

.fa-caret-right{
    margin-top: 2px;
    margin-right: 8px;
    font-size: 13px;
}

/* skills  */

.Skills{
    width: 1024px;
    height: 500px;
    margin-top: 120px;
    margin-left: 90px;
}

.main-skill-heading{
    font-size: 2rem;
    font-family: Inter, sans-serif;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.gif-and-my-skill-info{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}


.heading2 h2{
    font-size: 1.4rem;
    font-family: Inter, sans-serif;
    color: white;
    margin-left: 10px;
}

.logos{
    display: inline-block;
    padding-top: 50px;
    margin-left: 20px;
}

.html{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #7ca7a2;
    border-radius: 100%;
    margin-right: 20px;
}

.html:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.CSS{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #7ca7a2;
    border-radius: 100%;
    margin-right: 20px;
}

.CSS:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.JS{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #7ca7a2;
    border-radius: 100%;
    margin-right: 20px;
}

.JS:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.Figma{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #7ca7a2;
    border-radius: 100%;
    margin-right: 20px;
}

.Figma:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.my-skill-info-list p{
    font-size: 0.9rem;
    font-family: Inter, sans-serif;
    color: white;
    padding-top: 20px;
}


.my-skill-info-list p:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* projects  */

.Projects{
    width: 1024px;
    height: 1350px;
    margin-top: 120px;
    margin-left: 90px;
}

.project-heading{
    font-size: 2rem;
    font-family: Inter, sans-serif;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.project-cards{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 50px;
}

.project-info h2{
    font-size: 1.2rem;
    color:#00FFE7;
    margin-bottom: 10px;
}

.project-info p{
    font-size: 0.9rem;
    color: white;
    margin-bottom: 20px;
}

.project-info{
    width: 350px;
    height: 250px;
    overflow: hidden;
    font-family: Inter,sans-serif;
    position: relative;
    top: 30px;
    left: -70px;
}

.images{
    border-top: 1.5px solid #00FFE7;
    border-right: 2.5px solid #00FFE7;
    border-bottom: 1.5px solid #00FFE7;
    border-radius: 5%;
}

.images:hover{
    transition: all 0.3s ease;
    transform: scale(1.2,1.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-link{
    display: inline-block;
    background-color: #00FFE7;
    color: #276d66;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.project-link:hover{
    background-color: #276d66;
    color: white;
}

/* contact section  */

.contact-section{
    width: 1263px;
    height: 654.9px;
    padding: 60px 0px;
    overflow: hidden;
}


.contact-section-container{
    width: 1116px;
    height: 534.094px;
    padding: 0px 12px;
    margin: 0px 61.500px;
}
    

.contact-section-header{
    text-align: center;
    padding-bottom: 40px;
    width: 1116px;
    height: 67.594px;
}

.contact-section-header h1{
    font-size: 2.5rem;
    color: white;
    font-family: Inter, sans-serif;
    margin-bottom: 30px;
}

.contact-section-header p{
    font-size: 0.9rem;
    color:#00FFE7;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
}



.contact-section-form-container{
    width: 580px;
    height: 426.500px;
    display: flex;
    margin-left: 260px;
    margin-top: 100px;
}


.contact-section-form{
    border: 1.5px solid #00FFE7;
    padding: 30px;
    height: 450.500px;
    width: 570px;
    margin-top: -31px;
}


.contact-section-form-flexes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 510px;
    height: 426px;
    margin: -16px -12px 0px -12px;
}


.form-name{
    width: 231px;
    height: 43px;
    margin-top: 16px;
    padding: 0px 12px;
}

.form-name input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #1ba396;
}

.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
 
.form-email{
    width: 231px;
    height: 43px;
    margin-top: 16px;
    padding: 0px 12px;
}

.form-email input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #1ba396;
}

.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-subject{
    width: 486px;
    height: 43px;
    padding: 0px 12px;
    margin-top: 16px;
}

.form-subject input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #1ba396;
}

.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-message{
    width: 486px;
    height: 43px;
    padding: 0px 12px;
    margin-top: 16px;
}


.form-message textarea{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border: 1px solid #1ba396;
}

.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-submit{
    width: 486px;
    height: 44px;
    padding: 0px 12px;
    margin-top: 106px;
    text-align: center;
}

.form-submit button{
    text-align: center;
    background: #1ba396;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    border-radius: 4px;
}

.form-submit button:hover{
    background:#11635a;
    color: white;
}

/* footer  */

.footer-section {
    width: auto !important;;
    height: 100px;
    background-color: #16553c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-container p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-links li {
    display: inline;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #00bcd4;
  }
  
/* top to bottom button  */
.top-to-bottom-button{
    position: sticky !important;
    left: 1200px;
    margin-top: -45px;
    width: 50px;
    height: 50px;
    background-color: #00FFE7;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

.top-to-bottom-button:hover{
    background-color:#05291b;
    color: #ffffff;
}
